@import "../../../variables";
.ReAdminAnalytics{
  &__header{
    margin-top: 30px;
    display: flex;
    background-color: $light-gray;
    padding-left: 30px;
    border-radius: 12px 12px 0 0;
    &-item{
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 5px 5px 0 0;
      border-bottom: 1px solid $dark-gray;
    }
    &-item.active{
      background-color: #fff;
      position: relative;
      border-top: 1px solid $dark-gray;
      border-left: 1px solid $dark-gray;
      border-right: 1px solid $dark-gray;
      border-bottom: none;
    }
    &-item.active:before,
    &-item.active:after {
      content: "";
      position: absolute;
      height: 10px;
      width: 20px;
      bottom: 0;
    }
    &-item.active:after {
      right: -21px;
      border-radius: 0 0 0 10px;
      -moz-border-radius: 0 0 0 10px;
      -webkit-border-radius: 0 0 0 10px;
      -webkit-box-shadow: -10px 0 0 0 #fff;
      box-shadow: -10px 0 0 0 #fff;
      border-left: 1px solid $dark-gray;
    }
    &-item.active:before {
      left: -21px;
      border-radius: 0 0 10px 0;
      -moz-border-radius: 0 0 10px 0;
      -webkit-border-radius: 0 0 10px 0;
      -webkit-box-shadow: 10px 0 0 0 #fff;
      box-shadow: 10px 0 0 0 #fff;
      border-right: 1px solid $dark-gray;
    }
  }
  &__branch{
    margin-top: 30px;
  }
  &__expenses{
    margin-top: 30px;
    &-title{
      font-size: 22px;
      font-weight: bold;
    }
    &-add{
      cursor: pointer;
      margin: 15px 0;
    }
    &-add:hover{
      color: $orange;
    }
    &-create{
      display: flex;
      flex-direction: column;
      gap: 5px;
      max-width: 300px;
      margin: 30px 0;
      &-block{
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
      &-buttons{
        display: flex;
        justify-content: space-between;
        &-item{
          cursor: pointer;
        }
        &-item:hover{
          color: $orange;
        }
      }
    }
    &-items{
      &-item{
        padding: 5px 0;
      }
      &-item:nth-child(2n){
        background-color: $light-gray;
      }
    }
  }
}