@import "../../../variables";
.ReAdminCreateItem{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  margin-top: auto;
  &__cross{
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 34px;
    cursor: pointer;
  }
  &__cross:hover{
    color: $orange;
  }
  &__container{
    padding: 20px;
    background-color: #fff;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: auto;
  }
}