@import "../../../variables";
.ReAdminPostingSizeCreator__modal{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  &-container{
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    &-buttons{
      display: flex;
      //font-size: 22px;
      justify-content: space-between;
      & > * {
        cursor: pointer;
      }
      & > *:hover{
        color: $orange;
      }
    }
  }
}