@import "../variables";
.BrandBar{
  border-left: 5px solid $orange;
  &__container{
    padding-left: 10px;
    &-item{
      font-size: 24px;
      cursor: pointer;
      margin-bottom: 10px;
      border-bottom: 3px solid transparent;
      width: fit-content;
    }
    &-item.active{
      border-bottom: 3px solid $orange;

    }
  }
}