@import "../variables";
.ItemList{
  display: flex;
  //gap: 60px;
  flex-wrap: wrap;
  scroll-margin-top: 60px;
  &__item{
    position: relative;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    border: 2px solid transparent;
    &-image{
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      width: 246px;
      height: 200px;
    }
    &-name{
      font-size: 14px;
      font-weight: bold;
      text-align: center;
    }
    &-price{
      font-size: 18px;
    }
    &-corner-top,&-corner-bottom{
      border-color:$orange;
      border-style: solid;
      position: absolute;
      display: none;
    }
    &-corner-top{
      top: 4px;
      left: 4px;
      width: 40px;
      height: 40px;
      border-width: 3px 0 0 3px;
    }
    &-corner-bottom{
      bottom: 4px;
      right: 4px;
      width: 40px;
      height: 40px;
      border-width: 0 3px 3px 0;
    }
  }
  &__item:hover{
    border: 2px solid $dark-gray;
    .ItemList__item-corner-top, .ItemList__item-corner-bottom{
      display: block;
    }
  }
}
.ItemList__pages{
  margin-top: 60px;
  display: flex;
  gap: 15px;
  align-items: center;
  &-item{
    cursor: pointer;
    font-weight: bold;
    font-size: 22px;
    border: 3px solid transparent;
    width: 40px;
    height: 40px;
    //padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms linear;
  }
  &-item:hover{
    border: 3px solid $dark-gray;
  }
  &-item.current{
    border: 3px solid $orange;
  }
}
@media (max-width: 1200px) {
  .ItemList{
    justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 750px) {
  .ItemList{
    &__item{
      width: calc(150px + (300 - 150) * ((100vw - 320px) / (750 - 320)));
      &-image{
        width: calc(140px + (300 - 140) * ((100vw - 320px) / (750 - 320)));
      }
    }
  }
}
